.Card div.Job {
  background-image: url("../assets/ToastFace.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
}

.Card img.JobLogo {
  height: 80px;
  padding: 10px;
}

.Card div.Job,
h2,
h4,
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(68, 36, 22);
  font-size: 0.5rem;
  padding: 50px;
}

.Card h4,
h1,
a {
  text-decoration: none;
  color: rgb(77, 46, 34);
  font-size: 3.5svw;
  text-align: left;
  padding: 5px;
  width: 70vw;
}
.Card .fourOhFour {
  align-self: center;
  text-decoration: none;
  height: 70px;
  padding: 10px;
}
