
.CardList .Toast{

  display: flex;
  position: relative;
}

.CardList .cardContainer .swipe {
   width: 100vw;
  position: fixed;
} 

.CardList h1{
  max-height: 100px;
  max-width: 100%;
  font-size: 16px;
}

.CardList ul {
  list-style: none;

}
.CardList .CardTitle {
  color: white;

}


/* @media only screen and (min-width: 768px) {
  .CardList .Toast{
    width: 0;
    display: flex;
}
} */