.Card .Toast {
  background-image: url("../assets/ToastFace.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vw;
  height: 50vh;
  box-sizing: border-box;
  margin-bottom: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Card {
  display: flex;
  justify-content: center;
}
.Card img.JobLogo {
  height: 3vh;
  background-color: white;
  padding: 5px;
}

.Card .fourOhFour {
  align-self: center;
  text-decoration: none;
  height: 50px;
  padding: 10px;
}

.Card .Job {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  color: rgb(68, 36, 22);
  font-family: "Fredoka", sans-serif;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.Card .Job h1 {
  font-size: 14px;
}

.Card .Job h2,
h3 {
  font-size: 11px;
  margin: 5px;
}
.Card .Job p {
  font-size: 10px;
  margin: 5px;
}

/* .Card img.JobLogo {
  height: 1vh;
  background-color: white;
  padding: 5px;
} */

/* .Card li {
  list-style: none;
} */
/* .Card div.Job,
h4,
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(68, 36, 22);
  font-size: 0.5rem;
  padding: 50px;
} */

/* .Card h4,
h3,
a {
  text-decoration: none;
  color: rgb(77, 46, 34);
  font-size: 3.5svw;
  text-align: left;
  padding: 5px;
  width: 70vw;
} */
