.CardList .Toast {
	display: flex;
}

.CardList .cardContainer .swipe {
	position: fixed;
	visibility: none;
}

.CardList h1 {
	max-height: 100px;

	font-size: 16px;
}

.CardList ul {
	list-style: none;
}
.CardList .CardTitle {
	color: white;
}
/* @media only screen and (min-width: 768px) {
	.CardList .Toast {
		width: 0;
		display: flex;
	}
} */
