.CardList .cardContainer .swipe {
  display: flex;
}

.CardList ul {
  list-style: none;
}
.CardList .CardTitle {
  color: white;
}

.CardList {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
}
