.Details .Toast {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Details .ToastDetailsImg {
	width: 100vw;
	/* display: flex; */
}

.Details a {
	border-radius: 12px;
	text-decoration: none;
	background-color: beige;
	color: saddlebrown;
	text-align: center;
	padding: 2px;
	border: 3px solid yellowgreen;
	position: absolute;
	top: 16vh;
	left: 29vw;
	width: 40vw;
}

.Details .Toast .ToastDetails h2 {
	font-size: small;
	color: rgb(62, 61, 61);
}

.Details .Toast .ToastDetails {
	width: 70vw;
	height: 40vh;
	position: absolute;
	overflow: scroll;
	top: 140px;
}

/* .Details .Toast .ToastDetails .LogoImg {
	border-radius: 30%;
	position: absolute;

	top: -1vh;
	left: 45vw;
} */
