/* .Details {
  margin: 20px;
}

.Details .Details {
  height: 100vh;
}

.Details h2 {
  font-size: 30px;
  font-family: "Fredoka", sans-serif;
}

.Details.button {
  font-family: chewy;
}

.Details img {
  width: 50px;
}

.Details a {
  box-sizing: border-box;
  border: 1px solid black;
} */

.Details h1 {
  font-size: 14px;
  color: white;
}

.Details .ToastDetails {
  margin-left: 59px;
  margin-top: 108px;
  font-family: Verdana;
  font-size: 12px;
  overflow: scroll;
  width: 309px;
  height: 273px;
}

.Details .ToastDetailsImg {
  position: fixed;
  width: 100vw;
  height: 50vh;
  z-index: -1;
}

.Details .ApplyBtn {
  border-radius: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 35vw;
  text-align: center;
  padding: 4px;
}

.Details h1 {
  color: white;
}

.Details .LogoImg {
  height: 3vh;
}

@media only screen and (min-width: 768px) {
  .Details .ToastDetailsImg {
    position: fixed;
    width: 67vw;
    height: 74vh;
    right: 200px;
    z-index: -1;
  }
  .Details .ToastDetails {
    margin-left: 450px;
    margin-top: 220px;
    font-family: Verdana;
    font-size: 21px;
  }
}
