.Details .Toast {
	position: relative;
}

.Details .ToastDetailsImg {
	width: 100vw;
}

.Details a {
	border: 3px solid rgb(59, 58, 58);
	color: rgb(59, 58, 58);
	border-radius: 12px;
	padding: 5px;
	text-decoration: none;
	position: absolute;
	top: 10vh;
}

.Details .Toast .ToastDetails h2 {
	font-size: small;
	color: rgb(62, 61, 61);
}

.Details .Toast .ToastDetails {
	width: 70vw;
	height: 25vh;
	position: absolute;
	overflow: scroll;
	top: 140px;
	text-align: left;
}

.Details p {
	box-sizing: border-box;
}
