.Favorites .FavTitle {
  font-size: 14px;
  color: white;
}

/* .Favorites .Favorites .fav {
  display: flex;
} */
.Favorites .Favorite {
  /* height: 30em;
  width: 29em; */
  height: 100%;
}

.Favorites ul {
  height: 30em;
  width: 29em;
}
