.FavoriteCard .BreadBase {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.FavoriteCard button {
	border-radius: 30px;
	background-color: beige;
	color: saddlebrown;
	font-family: Verdana;
}

.FavoriteCard a {
	text-decoration: none;
	color: saddlebrown;
}
.FavoriteCard h1 {
	font-size: 4vw;
}
.FavoriteCard .Job h2,
h3 {
	font-size: 4vw;
	margin: 5px;
}
.FavoriteCard .Job p {
	font-size: 10px;
	margin: 5px;
}

.FavoriteCard .Toast .Job {
	width: 50%;
	position: absolute;
}
.FavoriteCard .Toast .Job img {
	max-height: 40px;
	max-width: 100%;
}

.FavoriteCard .Job .BtnContainer .expired-notice {
	color: rgb(236, 88, 88);
	font-family: Concert One;
}
