.FavoriteCard .BreadBase {
	display: flex;
	justify-content: center;
	align-items: center;
}

.FavoriteCard .Toast .Job {
	width: 70%;
	position: absolute;
}

.FavoriteCard button {
	border-radius: 12px;
	color: saddlebrown;
	font-family: Verdana;
	/* padding: 12px; */
}

.FavoriteCard a {
	text-decoration: none;
	color: saddlebrown;
}
.FavoriteCard h1,
.FavoriteCard h2,
.FavoriteCard h3,
.FavoriteCard p {
	font-size: 3vw;
	display: flex;
	flex-direction: column;
	padding: 2px;
}
/* .FavoriteCard .Job h2,
h3 {
	font-size: 4vw;
	margin: 5px;
}
.FavoriteCard .Job p {
	font-size: 10px;
	margin: 5px;
} */

.FavoriteCard .Toast .Job img {
	height: 7vh;
	border-radius: 12px;
}

.FavoriteCard .Job .BtnContainer .expired-notice {
	color: rgb(46, 45, 45);
}
