/* 

.Favorites ul li{
  height: 30em;
  width: 29em;
  display: flex;
  justify-content: center;
}

.Favorites ul{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
} */
