.Footer .Nav ul {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	height: 100%;
}

.Footer ul a {
	font-family: Concert One;
	font-size: 2vh;
	text-decoration: none;
	border-radius: 12px;
	padding: 5px;
	border: 3px solid rgb(59, 58, 58);
}

/* @media only screen and (min-width: 768px) {
}  */
