.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form .Toast {
  background-image: url("../assets/ToastFace.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 108vw;
  height: 50vh;
  box-sizing: border-box;
  margin-bottom: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Form .Type p {
  text-align: left;
}

.Form input {
  border: none;
}
.Form h1 {
  color: white;
}
/* .Form {
  height: 100vh;
} */

/* .FormContainer {
  background-image: url("../assets/ToastFace.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vw;
  height: 50vh;
  box-sizing: border-box;
} */

.Form form {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  color: rgb(68, 36, 22);
  font-family: Verdana;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .Form .FormContainer {
    width: 50vw;
    height: 72em;
  }
  .Form {
    height: 74em;
  }
  .Form .Toast {
    height: 100vh;
  }
}
