.Form .Toast {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form .BreadwinnersToast {
  position: relative;
  width: 90%;
}

.Form .Toast form {
  width: 50%;
  position: absolute;
  font-size: 17px;
}

/* new */
.Form input {
  border-radius: 36px;
  border: none;
}

.Form button {
  border-radius: 36px;
  padding: 5px;
  /* new */
  background-color: beige;
}
.Form button:hover {
  background-color: rgb(198, 231, 133);
  color: black;
  text-shadow: 2px 2px lightgray;
}
@media only screen and (min-width: 768px) {
  .Form .BreadwinnersToast {
    width: 81%;
    position: relative;
    display: flex;
  }
  .Form .Toast form {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 27px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1020px) {
  .Form .BreadwinnersToast {
    width: 81%;
    position: relative;
    display: flex;
  }
  .Form .Toast form {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-size: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
}

/* @media only screen and (min-width: 1040px) {
  .Form .BreadwinnersToast {
    width: 40%;
    position: relative;
    display: flex;
  }
  .Form .Toast form {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-size: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
} */
