.Form .Toast {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Form .search input {
	width: 57vw;
	height: 4vh;
}

.Form div.Remote {
	display: flex;
	align-items: center;
	justify-content: center;
	text-indent: 2vw;
	color: black;
	padding: 4vw;
}

.Form select {
	width: 60vw;
	padding: 2vw;
}

.Form .Toast form {
	width: 60vw;
	position: absolute;
	bottom: 8vh;
	font-size: 2.8vw;
}
.Form input {
	border: 3px solid yellowgreen;
	background-color: beige;
	font-family: Verdana;
	border-radius: 6px;
}
.Form button {
	/* height: 4vh; */
	width: 60vw;
	background-color: rgb(199, 238, 170);
	font-family: "Sigmar", cursive;
	font-size: 4.5vw;
	font-weight: lighter;
	color: rgb(19, 14, 3);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* @media only screen and (min-width: 1020px) {
	.Form .BreadwinnersToast {
		width: 81%;
		position: relative;
		display: flex;
	}
	.Form .Toast form {
		display: flex;
		flex-direction: column;
		width: 35%;
		font-size: 30px;
		position: absolute;
		justify-content: center;
		align-items: center;
	}
} */

/* @media only screen and (min-width: 1040px) {
  .Form .BreadwinnersToast {
    width: 40%;
    position: relative;
    display: flex;
  }
  .Form .Toast form {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-size: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
} */
