.Greetings {
	display: flex;
	width: 100vw;
}
.Greetings {
	background-image: url("../assets/ToastFace.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
}

/* @media only screen and (min-width: 768px) {
  .Greetings .Toast {
    height: 30em;
    width: 29em;
  }
  .Greetings .UserImg {
    width: 1rem;
    height: 1rem;
  }
}  */
/* .Greetings .Toast {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Greetings .BreadwinnersToast {
  position: relative;
  width: 90%;
}
.Greetings .Toast .Intro {
  width: 50%;
  position: absolute;
  new
  text-align: center;

}

.Greetings .Toast .Job p {
  display: none;
}
.Greetings .UserImg {
  width: 10%;
  new
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .Greetings .Toast .Intro p {
    display: initial;
  }
  .Greetings .BreadwinnersToast {
    new
    width: 81%;
  }
  .Greetings .Toast.Intro {
    width: 25%;
  }
} */

/* @media only screen and (min-width: 1020px){
  .Greetings .Toast .Intro p {
  display: initial;
  
  }
  .Greetings .BreadwinnersToast {
    width: 80%;
  }
  .Greetings .Toast.Intro {
    width: 25%;
  
  }
} */
