/* stein edit  */
.Header {
	display: flex;
	justify-content: space-evenly;
}
/* .Header div {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.Header h1 {
	font-family: "Sigmar", cursive;
	font-size: 6.5vh;
	color: rgb(55, 50, 46);
	padding: 20px;
	height: 10vh;
}

.Header img {
	height: 8vh;
}

.Header a {
	text-decoration: none;
}

.Header button {
	height: 4vh;
	width: 5vh;
}
