/* stein edit  */
.Header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 10px;
}

.Header h1 {
	font-family: "Sigmar", cursive;
	font-size: 3vh;
	color: rgb(55, 50, 46);
}

.Header h2 {
	font-size: x-small;
}

.Header img {
	height: 10vh;
}

.Header p {
	font-size: x-small;
	text-align: center;
}
