/* stein edit  */
.Header {
	display: flex;
	align-items: center;
	justify-content: center;
	/*  */
}
.Header div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Header .header-text-container {
	width: 75vw;
}

.Header h1 {
	font-family: "Sigmar", cursive;
	font-size: 8vw;
	color: rgb(14, 9, 5);
}

.Header img {
	display: flex;
	height: 3.5vh;
	text-decoration: none;
}

.Header a {
	text-decoration: none;
}
