.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */

}

/* .Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/* .Home div.Breadwinners{
  width: 40px;
} */

.Home .Mascot {
width: 90%
}

.Home div.swipe {
  position: absolute;
}

.Home .cardContainer {
  display: flex;
  justify-content: center;
}

.Home .fourOhFour {
  align-self: center;
  text-decoration: none;
  height: 72px;
  width: 72px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .Home .Mascot {
    width: 30%
    }
}

@media only screen and (min-width: 1020px) {
  .Home .Mascot {
    width: 40%;
    }
}
