header,
main,
form,
footer,
nav,
li,
ul,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  /* height: 100%;
  width: 100%; */
}

body {
  overflow-x: hidden;
}

button {
  border: 3px solid yellowgreen;
  background-color: beige;
  font-family: Verdana;
  color: saddlebrown;
}
h1 {
  color: white;
}
